<h2 class="center-header">User</h2>

<div class="display-one">
    <table>
        <tr>
            <td class="bold">Id</td>
            <td>{{ user.id }}</td>
        </tr>
        <tr>
            <td class="bold">Name</td>
            <td>{{ user.firstname }}</td>
        </tr>
        <tr>
            <td class="bold">Surname</td>
            <td>{{ user.surname }}</td>
        </tr>
        <tr>
            <td class="bold">Birt of date</td>
            <td>{{ user.dateOfBirth }}</td>
        </tr>
        <tr>
            <td class="bold">Role</td>
<!--            <td>{{ user.role.name }}</td>-->
            <td>{{ user.roleName }}</td>
        </tr>
    </table>
</div>

<br>
<div class="display-form">
    <a class="btn btn-info" ng-href="#/users/update/{{user.id}}">Update</a>
    <div class="divider-buttons"></div>
    <a  class="btn btn-danger" ng-href="#/users/delete/{{user.id}}">{{ user.isDeleted ? "Activate" : "Deactivate" }}</a>
</div>
