<h2 class="center-header">Trade note</h2>

<div class="display-one">
    <table>
        <tr>
            <td class="bold">ID</td>
            <td>{{ tradeNote.id }}</td>
        </tr>
        <tr>
            <td class="bold">Content <label for="content">Content</label></td>
            <td><textarea id="content" name="content" rows="4" cols="10" ng-model="tradeNote.content" readonly></textarea></td>
        </tr>
        <tr>
            <td class="bold">Company</td>
            <td>{{ tradeNote.companyName }}</td>
        </tr>
        <tr>
            <td class="bold">Owner ID</td>
            <td>{{ tradeNote.ownerId }}</td>
        </tr>
    </table>
</div>

<br>
<div class="display-form">
    <a class="btn btn-info" ng-href="#/tradeNotes/update/{{tradeNote.id}}">Update</a>
    <div class="divider-buttons"></div>
    <a  class="btn btn-danger" ng-href="#/tradeNotes/delete/{{tradeNote.id}}">{{ tradeNote.isDeleted ? "Activate" : "Deactivate" }}</a>
</div>
