.bold {
    padding-right: 5em;
}

.display-one {
    display: flex;
    justify-content: center;
}

.display-form {
    display: flex;
    justify-content: center;
}

.center-header {
    text-align: center;
}

.list-all {
    padding-left: 15em;
    padding-right: 15em;
}

.menu {
    float: right;
}
.divider-buttons{
    width:5px;
    height:auto;
    display:inline-block;
}
.strikethrough {
    text-decoration: line-through;
}
#content {
    width: 100%; /* Make the textarea take up the full width of its container */
    min-height: 50px; /* Set a minimum height to prevent it from becoming too small */
    padding: 10px; /* Add some padding for better readability */
    font-size: 14px; /* Adjust the font size */
    border: 1px solid #ccc; /* Add a border for a cleaner look */
    border-radius: 5px; /* Add rounded corners */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    overflow: hidden; /* Hide the scrollbar initially */
    resize: none;
}
.centered-items{
    text-align: center;
}
#view-404-error {
    text-align: center;
    font-family: 'Arial', sans-serif;
}

#view-404-error h1 {
    color: #333;
}

#view-404-error p {
    color: #666;
}