<h2 class="center-header">Contact persons</h2>
<div class="list-all">
    <div class="menu">
        <a ng-href="#/contactPersons/add" class="btn btn-success">Add</a>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col" ng-click="sortContactPeopleByColumn('id')">ID</th>
            <th scope="col" ng-click="sortContactPeopleByColumn('name')">Name</th>
            <th scope="col" ng-click="sortContactPeopleByColumn('surname')">Surname</th>
            <th scope="col" ng-click="sortContactPeopleByColumn('phoneNumber')">Phone number</th>
            <th scope="col" ng-click="sortContactPeopleByColumn('mail')">Mail</th>
            <th scope="col" ng-click="sortContactPeopleByColumn('position')">Position</th>
            <th scope="col" ng-click="sortContactPeopleByColumn('company.name')">Company name</th>
            <th scope="col" ng-click="sortContactPeopleByColumn('user.id')">Owner ID</th>
            <th scope="col" ng-click="sortContactPeopleByColumn('id')">Status</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="conp in items" ng-cloak data-ng-class="conp.isDeleted && 'strikethrough' || 'null'">
            <td>{{ conp.id }}</td>
            <td><a ng-href="#/contactPersons/one/{{conp.id}}">{{ conp.firstname }}</a></td>
            <td>{{ conp.surname }}</td>
            <td>{{ conp.phoneNumber }}</td>
            <td>{{ conp.mail }}</td>
            <td>{{ conp.position }}</td>
            <td>{{ conp.companyName }}</td>
            <td>{{ conp.ownerId }}</td>
            <td>{{ conp.isDeleted ? "inactive" : "active" }}</td>
            <td><a  type="button" class="btn btn-info" ng-href="#/contactPersons/update/{{conp.id}}">Edit</a></td>
            <td><a type="button" class="btn btn-danger" ng-href="#/contactPersons/delete/{{conp.id}}">{{ conp.isDeleted ? "Activate" : "Deactivate" }}</a></td>
        </tr>
        </tbody>
    </table>
    <div>
        <button ng-click="changeContactPeoplePage(-1)" ng-disabled="currentPage === 0">Prev</button>
        Page {{ currentPage + 1 }} of {{ totalPages }}
        <button ng-click="changeContactPeoplePage(1)" ng-disabled="currentPage + 1 >= totalPages">Next</button>
    </div>
</div>

<br>


