<h2 class="center-header">Contact person form</h2>

<div class="display-form">
    <form ng-submit="formSubmit()">
        <table>

            <!-- ERROR HEADING -->
            <tr ng-if="formErrors">
                <td colspan="3" class="error">Please correct the problems and resubmit.</td>
            </tr>

            <!-- ID -->
            <tr ng-if="contactPerson.id">
                <td class="bold"><label for="id">ID</label></td>
                <td>{{ contactPerson.id }}</td>
                <td><input type="hidden" id="id" ng-model="contactPerson.id"/></td>
            </tr>
            <!-- NAME -->
            <tr>
                <td class="bold"><label for="name">Name</label></td>
                <td><input type="text" id="name" ng-model="contactPerson.firstname"/></td>
                <td class="error">{{ formErrors['name'] }}</td>
            </tr>
            <!-- SURNAME -->
            <tr>
                <td class="bold"><label for="surname">Surname</label></td>
                <td><input type="text" id="surname" ng-model="contactPerson.surname"/></td>
                <td class="error">{{ formErrors['surname'] }}</td>
            </tr>
            <!-- PHONE NUMBER -->
            <tr>
                <td class="bold"><label for="phone_number">Phone number</label></td>
                <td><input type="text" id="phone_number" ng-model="contactPerson.phoneNumber"/></td>
                <td class="error">{{ formErrors['phone number'] }}</td>
            </tr>
            <!-- MAIL -->
            <tr>
                <td class="bold"><label for="mail">Mail</label></td>
                <td><input type="text" id="mail" ng-model="contactPerson.mail"/></td>
                <td class="error">{{ formErrors['mail'] }}</td>
            </tr>
            <!-- POSITION -->
            <tr>
                <td class="bold"><label for="position">Postion</label></td>
                <td><input type="text" id="position" ng-model="contactPerson.position"/></td>
                <td class="error">{{ formErrors['position'] }}</td>
            </tr>
            <!--COMPANY ID -->
            <tr>
                <td class="bold"><label for="companyName">Company</label></td>
                <td>
                    <select id="companyName" ng-model="contactPerson.companyId" required>
                        <option ng-repeat="comp in items" value="{{ comp.id }}">{{ comp.name }}</option>
                    </select>
                    <input type="button" ng-click="changeCompaniesFormPage(-1)" ng-disabled="currentPage === 0" value="Prev">
                    Page {{ currentPage + 1 }} of {{ totalPages }}
                    <input type="button" ng-click="changeCompaniesFormPage(1)" ng-disabled="currentPage + 1 === totalPages" value="Next">
                </td>
                <td class="error">{{ formErrors['companyName'] }}</td>
            </tr>
            <!-- OWNER ID -->
            <tr>
                <td class="bold"><label for="owner_id">Owner</label></td>
                <td>
                    <select id="owner_id" ng-model="contactPerson.ownerId" required>
<!--                        <option ng-repeat="user in users" value="{{ user.id }}">{{ user.firstname + ' ' + user.surname}}</option>-->
                        <option ng-repeat="user in users" value="{{ user.id }}" ng-selected="user.id === contactPerson.ownerId">{{ user.firstname + ' ' + user.surname}}</option>
                    </select>
                    <input type="button" ng-click="changeUsersFormPage(-1)" ng-disabled="currentUsersPage === 0" value="Prev">
                    Page {{ currentUsersPage + 1 }} of {{ totalUsersPages }}
                    <input type="button" ng-click="changeUsersFormPage(1)" ng-disabled="currentUsersPage + 1 === totalUsersPages" value="Next">

                </td>
                <td class="error">{{ formErrors['ownerId'] }}</td>
            </tr>

            <!-- SUBMIT -->
            <tr>
                <td class="bold"><input type="submit" value="Submit"></td>
                <td></td>
                <td></td>
            </tr>
        </table>

    </form>
</div>

