<h2 class="center-header">Contact persons</h2>
<div class="list-all">
    <div class="menu">
        <a ng-href="#/contactPersons/add" class="btn btn-success">Add</a>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Phone number</th>
            <th scope="col">Mail</th>
            <th scope="col">Position</th>
            <th scope="col">Company ID</th>
            <th scope="col">Owner ID</th>
            <th scope="col">Status</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="conp in contactPersons" ng-cloak data-ng-class="conp.isDeleted && 'strikethrough' || 'null'">
            <td>{{ conp.id }}</td>
            <td><a ng-href="#/contactPersons/one/{{conp.id}}">{{ conp.firstname }}</a></td>
            <td>{{ conp.surname }}</td>
            <td>{{ conp.phoneNumber }}</td>
            <td>{{ conp.mail }}</td>
            <td>{{ conp.position }}</td>
            <td>{{ conp.companyName }}</td>
            <td>{{ conp.ownerId }}</td>
            <td>{{ conp.isDeleted ? "inactive" : "active" }}</td>
            <td><a  type="button" class="btn btn-info" ng-href="#/contactPersons/update/{{conp.id}}">Edit</a></td>
            <td><a type="button" class="btn btn-danger" ng-href="#/contactPersons/delete/{{conp.id}}">{{ conp.isDeleted ? "Activate" : "Deactivate" }}</a></td>
        </tr>
        </tbody>
    </table>
</div>

<br>


