<h2 class="center-header">Roles</h2>

<div class="list-all">
    <div class="menu">
        <a ng-href="#/roles/add" class="btn btn-success">Add</a>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col" ng-click="sortRolesByColumn('id')">ID</th>
            <th scope="col" ng-click="sortRolesByColumn('name')">Name</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="rol in items">
            <td>{{ rol.id }}</td>
            <td><a ng-href="#/roles/one/{{rol.id}}">{{ rol.name }}</a></td>
            <td><a class="btn btn-info" ng-href="#/roles/update/{{rol.id}}">Edit</a></td>
            <td><a class="btn btn-danger" ng-href="#/roles/delete/{{rol.id}}">Delete</a>
        </tr>
        </tbody>
    </table>
    <div>
        <button ng-click="changeRolesPage(-1)" ng-disabled="currentPage === 0">Prev</button>
        Page {{ currentPage + 1 }} of {{ totalPages }}
        <button ng-click="changeRolesPage(1)" ng-disabled="currentPage + 1 >= totalPages">Next</button>
    </div>
</div>

<br>

